@page
@model AboutModel
@{
    ViewData["Title"] = "About" + Environment.GetEnvironmentVariable("WEBSITE_INSTANCE_ID");
    
}
<br />
<h4>
    Current Time: @DateTime.Now;
    Time Zone: @TimeZoneInfo.Local.DisplayName;
    Your application description page. @Environment.GetEnvironmentVariable("WEBSITE_INSTANCE_ID");
</h4>

<p>Use this area to provide additional information.</p>
